

.link {
    text-decoration: none;
    color: white;
    margin: 5px;
}

.underline {
    border: 2px solid black;
    margin-top: 20px;
    width: 300%;
}
.link:hover {
    color: black;
}

.home-title {
    font-family: 'Indie Flower', cursive;
    display: flex;
    justify-content: center;
    margin: 35px;

}
.owners-div{
    display: flex;
    margin: 20px;
}

.designer{
    margin: 12px;
}

.owner{
    margin: 12px;
}

.bottom-container {
    display: flex;
    margin: 20px;
}
.cat{
    margin: 12px;
}

.reviews_card > h1 {
    font-family: 'Indie Flower', cursive;

    display: flex;
    justify-content: center;
    margin-top: 10px;

}

.review-img {
    margin: 10px;
    box-shadow: 0px 0px 6px black;

}
.reviews_card{
    box-shadow: 0px 0px 6px black;
    background-color: rgba(219, 219, 219, 0.5);
    margin: auto;
    width: 60%;
    border-radius: 40px;

}


.reviews-list {
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

.reviews-list > h5 {
    margin-top: 35px;
}

.review-title{
    margin: auto;
    text-align: center;
}

.loading{
    font-size: 3rem;
    display: flex;
    justify-content: center;
    font-family: 'Indie Flower', cursive;
    margin: 100px;
}

.review-img {
    border-radius: 20px;
}


/* .categories-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
} */
.category-title{
    display: flex;
    font-family: 'Indie Flower', cursive;

    justify-content: center;
    margin: 20px;
}


.category-list{
    box-shadow: 0px 0px 4px black;
    padding: 30px;
    list-style: none;
    border: 3px solid black;
    width: 60%;
    margin: auto;
}

.category-slug{
    text-align: center;
}

.category-text{
    text-align: center;
}

.logo {
   color: white;
   height: 60px;
    width: auto;
}


.list-link {
    text-decoration: none;
    color: black;
}

.list-link:hover{
    color: black;
}

.review-list{
    
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.review-list > h3 {
    font-family: 'Indie Flower', cursive;

}
.review-list > img{
    width: 45%;
    border-radius: 20px;
    box-shadow: 0px 0px 5px black;

}



.review-body{
    
    width: 40%;
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    background-color: rgb(207, 211, 209);
    box-shadow: 0px 0px 6px black;

}

.review-p-header{
    margin: 10px;
    font-weight: bold;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.category-link {
    text-decoration: none;
    color: rgb(36, 35, 35);
}

.category-link:hover{
    color: rgb(14, 13, 13)

}

.login-title{
    font-family: 'Indie Flower', cursive;

    margin: 20px;
}

.form{
    margin: 20px;
    width: 50%;
}

.arena{
    margin: 20px;
}
.nav{
   margin-right: 10px;
}

.votes-btn{
    border-radius: 10px;
    background-color: white;
}

.votes-btn:hover{
    box-shadow: 0px 0px 3px black;

}

.comments-p-tag{
    text-align: right;
   
    margin-top: 5px;
}

.votes-p-tag{
    margin-top: -39px;
}

.comment-btn {
    border-radius: 10px;
    background-color: rgb(74, 162, 212);
}

.comments-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
}



.comments-container > h1 {   
     font-family: 'Indie Flower', cursive;

    text-align: center;
}

.comments-list {
    width: 70%;
    border-radius: 10px;
    box-shadow: 0px 0px 6px black;
    padding: 20px;
    list-style-type: none;
    background-color: rgb(204, 204, 204);
    margin: 20px;
}


.comment-link {
    text-decoration: none;
}

/* .form{
    width: 400%;
    height: 50%;
} */

.form-div{
    font-family: 'Indie Flower', cursive;

    margin: 175px auto;
    background-color: rgba(224, 224, 224, 0.5);
    width: 40%;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 4px black;
    text-align: center;

    
}
.username-input{
    border-radius: 4px;
    margin-bottom: 19px;
    margin-top: 10px;
}
.body-input{
    margin-top: 10px;

    border-radius: 4px;

}
.username-input:hover{
    border: 2px solid #1876D1;

}

.body-input:hover{
    border: 2px solid #1876D1;

}
.post-comment-title{
    margin: 20px;
}

.profile-container {
    margin: 40px;
}

.profile {

    margin: 30px;
    border: 2px solid black;
    padding: 20px;
    box-shadow: 0px 0px 6px black;

    border-radius: 10px;
}

.profile > h3 {
    font-family: 'Indie Flower', cursive;

}

.profile-img{
    width: 20%;
    box-shadow: 0px 0px 5px black;
    margin: 30px;
    border: 2px solid black;
    border-radius: 100px;
}

.profile-title{
    font-family: 'Indie Flower', cursive;
    box-shadow: 0px 0px 4px rgb(10, 10, 9);

    border-radius: 10px;
    padding: 10px;
    border: 2px solid black;
    text-align: center;
}

/* .img-container {
    background-color: grey;
} */
